@using System.Security.Claims
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2  class="display-4" style="background-color:white">Добро пожаловать @User.Identity.Name!</h2>
</div>
