@model UserViewModel;
@{
    ViewData["Title"] = "Add";
}
@*<p>Здравствуйте! Приветствуем вас в электронном журнале. Хотите зарегистрироваться?</p>
<button asp-controller="User" asp-action="/User/Registration">Зарегистрироваться</button>
<p>У вас уже есть аккаунт?</p>
<button >Войти</button>*@
<p>Добро пожаловать @Model.LastName @Model.Name @Model.MiddleName!</p>
